.layers {
  display: flex;
  width: 720px;
  height: 472px;
  margin: 0 auto;
  margin-bottom: var(--margin-100);
  position: relative;
}

/* 전국민 AI 레이어 */
.container-ai28 {
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.container-ai28:hover {
  transform: translateY(-15%);
}

.ai28 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

/* AI훈민정음-VISION 레이어 */
.container-vision {
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.container-vision:hover {
  transform: translateY(-15%);
}

.vision {
  position: absolute;
  top: 0;
  left: 210px;
  z-index: 2;
  cursor: pointer;
}

/* 개인 AI 레이어 */
.container-cart {
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.container-cart:hover {
  transform: translateY(-15%);
}

.cart {
  position: absolute;
  top: 0;
  left: 420px;
  z-index: 1;
  cursor: pointer;
}
